[MESSAGES CONTROL]
disable =
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    R0903,  # too-few-public-methods
    R0801,  # duplicate-code
    W0511   # fixme

[MASTER]
ignore =
    migrations
    .venv
    venv
init-hook = import sys, pathlib; sys.path.append(str(pathlib.Path().resolve()))
